@using OmniScanMRI.WebApp.Models
@model Administrators
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Dashboard";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/style.css">
<div class="container">
    <div class="row">
        
        <div class="col-md-8">
            <h2>Welcome, @User.Identity.Name!</h2>

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="@Url.Action("UserManagement", "Administrator")">Manage Users</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("ManageAppointmentsByAdmin", "Administrator")">Manage Patient Appointments</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("CustomerSupport", "Home")">Customer Support Services</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("DoctorAppointmentStatsChart", "Administrator")">View Appointments with Doctors Stats</a>
                </li>
                
            </ul>
        </div>

        
        <div class="col-md-4">
            <img src="~/Content/images/patientHome.jpg" style=" max-width:300px; height:auto; " alt="Placeholder Image" class="img-responsive" id="placeholder-image" /> 
        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
}
