@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using OmniScanMRI.WebApp.Models
@model Doctors

@{
    ViewBag.Title = "View Doctor Details";
}

<h2>Doctor Details</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.FirstName @Model.LastName</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">

            <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
            <dd>@Html.DisplayFor(model => model.FirstName)</dd>

            <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
            <dd>@Html.DisplayFor(model => model.LastName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Specialization)</dt>
            <dd>@Html.DisplayFor(model => model.Specialization)</dd>

            <dt>@Html.DisplayNameFor(model => model.LicenseNumber)</dt>
            <dd>@Html.DisplayFor(model => model.LicenseNumber)</dd>

            <dt>@Html.DisplayNameFor(model => model.ContactNumber)</dt>
            <dd>@Html.DisplayFor(model => model.ContactNumber)</dd>

            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
        </dl>
    </div>
</div>

<a href="@Url.Action("Index", "YourControllerName")" class="btn btn-default">Go Back</a>
