@using OmniScanMRI.WebApp.Models
@model UploadScanViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Upload Scan";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/style.css">
<link rel="stylesheet" href="~/Content/css/select2.css">
<h2>Upload Scan</h2>

@using (Html.BeginForm("UploadScan", "ScanImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Upload Scan Image</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Select File</label>
            <div class="col-md-10">
                <input type="file" name="UploadFile" class="btn btn-default" accept="image/png,image/gif,image/jpeg" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScanName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScanName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ScanName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedPatientId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedPatientId, Model.Patients, "Select a Patient", new { @class = "select2-dropdown" })
                @Html.ValidationMessageFor(model => model.SelectedPatientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateTaken, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTaken, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.DateTaken, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Go Back", "Index")
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2-dropdown').select2({
                placeholder: "Please start typing the patient name to select a Patient from the list",
                allowClear: true,
                minimumInputLength: 2
            });
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: 'mm/dd/yy', 
                changeMonth: true, 
                changeYear: true, 
                yearRange: "1900:2100" 
            });
        });
    </script>
}
